*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.container{
    margin-top: 12%;
    width: 50%;
    display: flex;
    align-items: center;
    
}
.one{
    display: flex   ;
    justify-content:center;

}
